.welcomeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.welcomeTitle {
  font-size: 3rem;
  font-weight: 700;
  color: #56c995;
  text-shadow: 0 4px 20px rgba(0, 0, 0, 0.12);
  margin: 0;
}